.Falcon-img{
    background-image: url("/imagenes/Starship/falconnn.jpg");
    width: 100%;
    height: 106vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-text-falcon{
    padding: 0 30px;
    margin-top: 0px;
    text-align: start;
    color: white;
}
.banner-text-falcon h2{
    padding-top: 520px;
    font-size: 50px;
    margin-bottom: 30px;
}

.Human-img{
    background-image: url("/imagenes/human/maxresdefault.jpg");
    width: 100%;
    height: 106vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-text-human{
    padding: 0 30px;
    margin-top: 0px;
    text-align: start;
    color: white;
}
.banner-text-human h2{
    padding-top: 520px;
    font-size: 50px;
    margin-bottom: 30px;
}